@using EvxWebAppCore.ViewModel
@using EvxWebAppCore.Common
@using EvxWebAppCore.Models
@using Newtonsoft.Json

@model DropdownViewModel

@if (Model.RecordType.Equals(GlobalEnums.RecordType.Line))
{
    LineModel lineModel = (LineModel)Model.Object;
    <div id='@("dropdown" + lineModel.LineID)' style="display:none" class="dropdown">

        <div class="dropdown-option dropdown_view" onclick="Manage('Routes', @lineModel.LineID, '@lineModel.LineName')">View Routes</div>
        <div class="dropdown-option dropdown_edit" onclick="Manage('LineForm','@JsonConvert.SerializeObject(lineModel)')"> Edit Line </div>
        <div class="dropdown-option dropdown_delete" onclick="Delete(@lineModel.LineID, '@Model.RecordType')">Delete </div>

    </div>
}
@if (Model.RecordType.Equals(GlobalEnums.RecordType.Route))
{
    RouteModel routeModel = (RouteModel)Model.Object;
    <div id='@("dropdown" + routeModel.RouteID)' style="display:none" class="dropdown">

        <div class="dropdown-option dropdown_view" onclick="Manage('Stations', @routeModel.RouteID, '@routeModel.RouteName')">View Stations</div>
        <div class="dropdown-option dropdown_edit" onclick="Manage('RouteForm','@JsonConvert.SerializeObject(routeModel)')"> Edit Route </div>
        <div class="dropdown-option dropdown_delete" onclick="Delete(@routeModel.RouteID, '@Model.RecordType')">Delete </div>

    </div>
}

@if (Model.RecordType.Equals(GlobalEnums.RecordType.Station))
{
    StationModel stationModel = (StationModel)Model.Object;
    <div id='@("dropdown" + stationModel.DestinationID)' style="display:none" class="dropdown">

        <div class="dropdown-option dropdown_edit" onclick="Manage('StationForm','@JsonConvert.SerializeObject(stationModel)')"> Edit Station </div>
        <div class="dropdown-option dropdown_delete" onclick="Delete(@stationModel.DestinationID, '@Model.RecordType')">Delete </div>

    </div>
}

<script>

</script>
<style>
    .dropdown {
        position: absolute;
        background-color: #ececec;
        border: 1px solid #adadad;
    }

    .dropdown-option {
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

        .dropdown-option:hover {
            background-color: #e3e3e3
        }
</style>
